# Gradle
.gradle/
build/
**/build/
local.properties
screenshot/

# Android
*.apk
*.aab
*.ap_
*.dex

# Keystore (JANGAN pernah commit!)
*.jks
*.keystore
keystore.properties

# IDE
.idea/
*.iml
.DS_Store
Thumbs.db

# Proguard
proguard/

# Google services
google-services.json
